.fl-authoring {
    padding: 1em;
    width: 95%;
}

.fl-panel {
    font-family: Verdana,Arial,sans-serif;
    color: #66666;
    background-color: #ebebeb;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em;
}

.fl-panel-titlebar {
    background: url("../../lib/infusion/fss/images/themes/slate/widget-bg.png") repeat-x scroll left top #CCCCCC;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    margin: 0.08em;
    padding: 0.8em;
}

.fl-panel-titlebar h2 {
    font-weight: bold;
    font-size: 1.2em;
}

.fl-panel-content {
    border: 1px solid #666666;
    margin: 1em 0.5em 1em 0.5em;
    padding: 1em;
    height: 274px; /* Evil */
}

.fl-authoring-edit {
    float: left;
    width: 48.5%;
}

.fl-authoring-preview-panel {
    width: 48.5%;
    margin-left: 49.5%;
}

.fl-authoring-controls-panel {
    padding: 1em;
    margin-top: 0.4%;
    margin-right: 1.3em; /* TODO: This shouldn't be necessary, but was added to work around extra right margin on the view panels */
}

.CodeMirror {
    border: 1px solid black; 
}

.activeline {
    background: #f0fcff !important;
}